DatasetAndQueriesAndNodeRedFlow-master/Node-red flow.json
[{"id":"1d3a8d9e.0bf532","type":"function","z":"6f21eb51.d59a04","name":"write create table query","func":"context.global.queryType=\"createTable\";\nvar newMsg = {\n\"topic\": \"CREATE TABLE OBSERVATIONSTABLE(observation TEXT PRIMARY KEY NOT NULL,procedure TEXT,type TEXT,observedProperty TEXT,result TEXT,floatValue REAL,uom TEXT,samplingTime TEXT,inXSDDateTime NUMERIC,ID TEXT,hasSourceURI TEXT,distance REAL, hasLocation TEXT,alt REAL,lat REAL,long REAL)\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":562,"y":66.20001792907715,"wires":[["ec8b3d25.a58778"]]},{"id":"58235bd2.c9e55c","type":"function","z":"6f21eb51.d59a04","name":"write getEndTime query","func":"if(context.global.queryType!=\"stopQuery\")\n{\ncontext.global.queryType=\"getEndTime\";\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n\n};\nreturn [newMsg,null];\n}\nelse\n{\n var newMsg2 ={payload:\"Query Stopped\"};\n return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":1586.1997756958008,"y":181.9641342163086,"wires":[["ec8b3d25.a58778"],["8043a72e.094968"]]},{"id":"c303bc8.e723cc","type":"function","z":"6f21eb51.d59a04","name":"Observations","func":"//switch(context.global.queryType)\n//{\n // case \"sqlQuery\":\n// return [msg];\n//}\n\nif(context.global.sqlString!==null)\nreturn [msg];","outputs":1,"noerr":0,"x":890.9058532714844,"y":722.9438052177429,"wires":[["545b835b.13c334","dfee3aba.fa8cd8"]]},{"id":"ec8b3d25.a58778","type":"sqlite","z":"6f21eb51.d59a04","mydb":"fb4f82a0.792ad","name":"sqliteDB","x":864.9998531341553,"y":382.599977016449,"wires":[["c303bc8.e723cc","ba2aefc1.16b17"]]},{"id":"545b835b.13c334","type":"debug","z":"6f21eb51.d59a04","name":"Selected Observations","active":true,"console":"false","complete":"payload","x":1152.9120979309082,"y":738.6500492095947,"wires":[]},{"id":"ba2aefc1.16b17","type":"function","z":"6f21eb51.d59a04","name":"test","func":"switch(context.global.queryType)\n{\n case \"insertRecord\":\n return [msg, null,null,null,null,null,null,null,null,null,null];\n \n case \"getStartTime\":\n var msg1;\n msg1={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n context.global.startTime=msg.payload[0].inXSDDateTime;\n return [null,msg1,null,null,null,null,null,null,null,null];\n \n case \"getEndTime\":\n if(context.global.stop!=\"true\")\n {\n var msg2;\n msg2={payload:\"Query type is \"+context.global.queryType+\" time is : \"+msg.payload[0].inXSDDateTime};\n context.global.endTime=msg.payload[0].inXSDDateTime;\n return [null,null,msg2,null,null,null,null,null,null,null,null];}\n else{\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4]; \n }\n break;\n \n case \"streamingQuery\":\n if(context.global.stop!=\"true\")\n {\n context.global.startTime=context.global.endTime;\n var msg3;\n msg3={payload:\"loop\"};\n return [null,null,null,msg,null,null,null,null,null,msg3,null];}\n else{\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4]; \n }\n break;\n \n case \"createTable\":\n return [null,null,null,null,msg,null,null,null,null,null,null];\n \n case \"selectAllRecord\":\n return [null,null,null,null,null,msg,null,null,null,null,null];\n \n case \"dropTable\":\n return [null,null,null,null,null,null,msg,null,null,null,null];\n \n case \"deleteAllRecord\":\n return [null,null,null,null,null,null,null,msg,null,null,null];\n \n case \"selectLastRecord\":\n return [null,null,null,null,null,null,null,null,msg,null,null];\n \n case \"stopQuery\":\n var msg4;\n msg4={payload:\"Stop Query\"}; \n return [null,null,null,null,null,null,null,null,null,null,msg4];\n \n \n}","outputs":"11","noerr":0,"x":1046.4774799346924,"y":373.0839309692383,"wires":[["a85b8a8f.e45c2"],["6ef2b5bc.96127c"],["af1db855.4105c"],["1f335027.fc7b88"],["8ef66deb.b4b5"],["7acc06a3.7bc918"],["ffcccf31.588448"],["333067fb.db34c8"],["a7ad281.138d158"],["6ef2b5bc.96127c"],["d24907f5.08cc78"]]},{"id":"331200e4.0aebf8","type":"function","z":"6f21eb51.d59a04","name":"write insert query","func":"context.global.currentTimestamp = Date.now();\ncontext.global.queryType=\"insertRecord\";\nvar newMsg = {\n\"topic\": \"INSERT INTO OBSERVATIONSTABLE VALUES ( \" +\"'\"+msg.payload.observation+\"'\"+ \", \"+\"'\"+ msg.payload.procedure+\"'\"+ \", \"+\"'\"+ msg.payload.type+\"'\"+ \", \"+\"'\"+ msg.payload.observedProperty+\"'\"+ \", \" +\"'\"+ msg.payload.result+\"'\"+ \", \"+\"'\"+ msg.payload.floatValue+\"'\"+ \", \"+\"'\"+ msg.payload.uom+\"'\"+ \", \"+\"'\"+ msg.payload.samplingTime+\"'\"+ \", \"+\"'\"+ Date.now() +\"'\"+ \", \"+\"'\"+ msg.payload.ID +\"'\"+ \", \"+\"'\"+ msg.payload.hasSourceURI +\"'\"+ \", \"+\"'\"+ msg.payload.distance +\"'\"+ \", \"+\"'\"+ msg.payload.hasLocation +\"'\"+ \", \"+\"'\"+ msg.payload.alt+\"'\"+ \", \"+\"'\"+ msg.payload.lat+\"'\"+ \", \"+\"'\"+ msg.payload.long+\"'\" + \")\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":576.0002212524414,"y":175.2000904083252,"wires":[["ec8b3d25.a58778"]]},{"id":"999093e7.4d4ba8","type":"function","z":"6f21eb51.d59a04","name":"write getStartTime query","func":"context.global.queryType=\"getStartTime\";\ncontext.global.stop=\"false\"\nvar newMsg = {\n\"topic\": \" SELECT inXSDDateTime FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":516.0000381469727,"y":401.2001156806946,"wires":[["ec8b3d25.a58778"]]},{"id":"af1db855.4105c","type":"function","z":"6f21eb51.d59a04","name":"write streamingQuery","func":"if(context.global.queryType!=\"stopQuery\")\n{\n context.global.queryType=\"streamingQuery\";\n var newMsg = {\n \"topic\": context.global.query+\" AND a0.inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n };\nreturn [newMsg,null]; \n}\nelse\n{\n var newMsg2 ={payload:\"Query Stopped\"};\n return [null,newMsg2];\n}","outputs":"2","noerr":0,"x":1052.998794555664,"y":149.60007667541504,"wires":[["ec8b3d25.a58778"],["8043a72e.094968"]]},{"id":"4059debb.717b28","type":"function","z":"6f21eb51.d59a04","name":"write select all records query","func":"context.global.queryType=\"selectAllRecord\";\nvar newMsg = {\n\"topic\": \"SELECT * FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":502.0000686645508,"y":274.2000699043274,"wires":[["ec8b3d25.a58778"]]},{"id":"d828071c.6d986","type":"function","z":"6f21eb51.d59a04","name":"write drop table query","func":"context.global.queryType=\"dropTable\";\nvar newMsg = {\n\"topic\": \"DROP TABLE OBSERVATIONSTABLE \"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":527.0666732788086,"y":119.26671552658081,"wires":[["ec8b3d25.a58778"]]},{"id":"f2909f02.f2b8d8","type":"function","z":"6f21eb51.d59a04","name":"write delete all records query","func":"context.global.queryType=\"deleteAllRecord\";\nvar newMsg = {\n\"topic\": \" DELETE FROM OBSERVATIONSTABLE \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":501.0666732788086,"y":316.266725063324,"wires":[["ec8b3d25.a58778"]]},{"id":"8a3d9863.c5138","type":"function","z":"6f21eb51.d59a04","name":"write select last record query","func":"context.global.queryType=\"selectLastRecord\";\nvar newMsg = {\n\"topic\": \" SELECT * FROM OBSERVATIONSTABLE ORDER BY inXSDDateTime DESC LIMIT 1 \"\n};\nreturn newMsg;","outputs":1,"noerr":0,"x":507.0666046142578,"y":361.26667699217796,"wires":[["ec8b3d25.a58778"]]},{"id":"108e4506.75f8e3","type":"function","z":"6f21eb51.d59a04","name":"writing test streaming","func":"context.global.queryType=\"streamingQuery\";\ncontext.global.stop=\"false\";\nvar newMsg = {\n\"topic\": context.global.query+\" WHERE inXSDDateTime BETWEEN \"+ \"'\"+ context.global.startTime + \"'\"+\" AND \"+ \"'\"+ context.global.endTime +\"'\"\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":519.3998222351074,"y":509.9686303138733,"wires":[["ec8b3d25.a58778"]]},{"id":"716e5739.52b318","type":"function","z":"6f21eb51.d59a04","name":"Execute SQL Query","func":"//context.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;","outputs":1,"noerr":0,"x":632.8998184204102,"y":663.9500098228455,"wires":[["ec8b3d25.a58778","72a5978.811e968"]]},{"id":"e8401f22.843ce","type":"function","z":"6f21eb51.d59a04","name":"Streaming SQLQuery","func":"if(context.global.sqlString!==null)\n{\ncontext.global.queryType=\"sqlQuery\";\nvar newMsg = {\"topic\": context.global.sqlString+\" AND inXSDDateTime >= \"+ context.global.currentTimestamp};\nreturn newMsg;\n}\nelse\nreturn null;","outputs":1,"noerr":0,"x":953.8995513916016,"y":611.9437789916992,"wires":[["ec8b3d25.a58778"]]},{"id":"a85b8a8f.e45c2","type":"debug","z":"6f21eb51.d59a04","name":"insertRecordOutput","active":true,"console":"false","complete":"payload","x":1349.659122467041,"y":153.2974910736084,"wires":[]},{"id":"6ef2b5bc.96127c","type":"function","z":"6f21eb51.d59a04","name":"Open Window","func":"if(context.global.queryType!=\"stopQuery\")\n{\nsetTimeout(function() {\n node.send(msg);\n}, context.global.window);}\nreturn null;","outputs":1,"noerr":0,"x":1338.4781875610352,"y":196.31615447998047,"wires":[["58235bd2.c9e55c"]]},{"id":"1f335027.fc7b88","type":"function","z":"6f21eb51.d59a04","name":"StreamingResult","func":"//msg.payload.forEach(function(element) {\n // node.send({\"payload\": element});\n//});\ncontext.global.value= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1571.4058837890625,"y":226.76239395141602,"wires":[["2a87d6ed.f0954a","f02e9cfe.2dafe"]]},{"id":"8ef66deb.b4b5","type":"debug","z":"6f21eb51.d59a04","name":"createTableOutput","active":true,"console":"false","complete":"payload","x":1297.066879272461,"y":293.6667218208313,"wires":[]},{"id":"7acc06a3.7bc918","type":"debug","z":"6f21eb51.d59a04","name":"selectAllRecordOutput","active":true,"console":"false","complete":"payload","x":1307.9999542236328,"y":329.40005922317505,"wires":[]},{"id":"ffcccf31.588448","type":"debug","z":"6f21eb51.d59a04","name":"dropTableOutput","active":true,"console":"false","complete":"payload","x":1290.066879272461,"y":365.00012826919556,"wires":[]},{"id":"333067fb.db34c8","type":"debug","z":"6f21eb51.d59a04","name":"deleteAllRecordOutput","active":true,"console":"false","complete":"payload","x":1310.066879272461,"y":405.00009965896606,"wires":[]},{"id":"a7ad281.138d158","type":"function","z":"6f21eb51.d59a04","name":"LastRecord","func":" //msg.payload = JSON.stringify(msg.payload);\n context.global.value= msg.payload;\n//msg.payload={key:\"value\"};\n//msg.payload=JSON.stringify(msg.payload[0]);\n// msg.payload=msg.payload[0];\n//var newMsg = { payload: msg.payload[0] };\n// var output;\n//output= \"{observation:\\\"\"+msg.payload.observation+\n//\"\\\"}\";\n//,procedure:\\\"\"+msg.payload.procedure+\n//\"\\\", type:\\\"\"+msg.payload.type+\n//\"\\\",observedProperty:\\\"\"+msg.payload.observedProperty+\n//\"\\\",result:\\\"\"+msg.payload.result+\n//\"\\\",floatValue:\\\"\"+msg.payload.floatValue+\n//\"\\\",uom:\\\"\"+msg.payload.uom+\"}\";\n//\"fahrenheit\"\n//payload.samplingTime: \"Instant_2003_3_31_2_05_00\"\n//payload.inXSDDateTime: \"3/31/2003 2:05\"\n//payload.alt: 5350\n//payload.lat: 40.82944\n//payload.long: -111.88222\n//payload.hasLocation: \"http://sws.geonames.org/5773517/\"\n//msg.payload=output\n//msg.payload =\"Farah Karim\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1296.3995513916016,"y":444.96872901916504,"wires":[["4e1ed0b2.8a1588","de123adc.362e28"]]},{"id":"d24907f5.08cc78","type":"debug","z":"6f21eb51.d59a04","name":"QueryStoped","active":true,"console":"false","complete":"payload","x":1293.4776763916016,"y":490.01168870925903,"wires":[]},{"id":"588096d.9e7c2e8","type":"function","z":"6f21eb51.d59a04","name":"write stop stream exe. query","func":"context.global.queryType=\"stopQuery\";\ncontext.global.stop=\"true\";\nreturn msg;","outputs":1,"noerr":0,"x":502.41239166259766,"y":549.9750237464905,"wires":[["ba2aefc1.16b17"]]},{"id":"2899aa5f.fe31de","type":"delay","z":"6f21eb51.d59a04","name":"1msg/2sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":512.9000015258789,"y":226.5999870300293,"wires":[["e8401f22.843ce","331200e4.0aebf8"]]},{"id":"dafe4256.100fc8","type":"function","z":"6f21eb51.d59a04","name":"split function","func":"var str=msg.payload.split(\"window\");\ncontext.global.query =str[0];\ncontext.global.window = str[1];\nreturn msg;","outputs":1,"noerr":0,"x":349.0000228881836,"y":482.8001413345337,"wires":[["999093e7.4d4ba8"]]},{"id":"8043a72e.094968","type":"debug","z":"6f21eb51.d59a04","name":"QueryStopped1","active":true,"console":"false","complete":"payload","x":1633.8775177001953,"y":508.81258392333984,"wires":[]},{"id":"7beff8b2.5c5948","type":"inject","z":"6f21eb51.d59a04","name":"Create Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":168.99996948242188,"y":60,"wires":[["1d3a8d9e.0bf532"]]},{"id":"677b83f8.3ca954","type":"inject","z":"6f21eb51.d59a04","name":"View Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.99996185302734,"y":269.00016689300537,"wires":[["4059debb.717b28"]]},{"id":"c2f7d067.0dba68","type":"inject","z":"6f21eb51.d59a04","name":"Drop Table","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":148.06658172607422,"y":136.46665954589844,"wires":[["d828071c.6d986"]]},{"id":"e1ba99c4.640bf","type":"inject","z":"6f21eb51.d59a04","name":"Delete All Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.89994430541992,"y":315.0001525878906,"wires":[["f2909f02.f2b8d8"]]},{"id":"2e604a3b.10f8ce","type":"inject","z":"6f21eb51.d59a04","name":"Select Last Record","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.00006103515625,"y":358.0000743865967,"wires":[["8a3d9863.c5138"]]},{"id":"f3a14ec6.d3db8","type":"inject","z":"6f21eb51.d59a04","name":"test Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.40618896484375,"y":508.58747959136963,"wires":[["108e4506.75f8e3"]]},{"id":"a6585854.7854f8","type":"function","z":"6f21eb51.d59a04","name":"Get SQL Query & Time","func":"if(context.global.currentTimestamp===null)\n{context.global.currentTimestamp = Date.now();}\ncontext.global.sqlString = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":353.90596771240234,"y":629.9499368667603,"wires":[["716e5739.52b318"]]},{"id":"72a5978.811e968","type":"debug","z":"6f21eb51.d59a04","name":"SQLQueryString","active":true,"console":"false","complete":"payload","x":639.9122085571289,"y":754.6500768661499,"wires":[]},{"id":"2a87d6ed.f0954a","type":"debug","z":"6f21eb51.d59a04","name":"StreaminOutput","active":true,"console":"false","complete":"payload","x":1554.4059600830078,"y":594.6562504768372,"wires":[]},{"id":"f02e9cfe.2dafe","type":"function","z":"6f21eb51.d59a04","name":"testFunction","func":"msg.payload=context.global.value;\nreturn msg;","outputs":1,"noerr":0,"x":1691.693618774414,"y":468.77493381500244,"wires":[["203d962f.55e322"]]},{"id":"4e1ed0b2.8a1588","type":"debug","z":"6f21eb51.d59a04","name":"selectLastRecordOutput","active":true,"console":"false","complete":"payload","x":1323.06640625,"y":532.0000200271606,"wires":[]},{"id":"de123adc.362e28","type":"debug","z":"6f21eb51.d59a04","name":"LastRecordOutput","active":true,"console":"false","complete":"payload","x":1288.1871871948242,"y":622.9624919891357,"wires":[]},{"id":"2d362ec8.f5c9f2","type":"inject","z":"6f21eb51.d59a04","name":"stop Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":165.39989471435547,"y":550.5750198364258,"wires":[["588096d.9e7c2e8"]]},{"id":"e12d1d5d.856cd","type":"csv","z":"6f21eb51.d59a04","name":"Read CSV","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"observation,procedure,type,observedProperty,result,floatValue,uom,samplingTime,inXSDDateTime,ID,hasSourceURI,distance,hasLocation,alt ,lat,long","x":328.9000244140625,"y":203.00004959106445,"wires":[["2899aa5f.fe31de"]]},{"id":"4f38a2a0.052944","type":"http request","z":"6f21eb51.d59a04","name":"GET Request","method":"GET","ret":"txt","url":"http://localhost:8080/","tls":"","x":300.9999237060547,"y":443.8001432418823,"wires":[["dafe4256.100fc8","46db5b55.d35a54"]]},{"id":"203d962f.55e322","type":"websocket out","z":"6f21eb51.d59a04","name":"","server":"3ba0956.731b0ea","client":"","x":1640.686882019043,"y":778.0061280727386,"wires":[]},{"id":"421a74cd.74df9c","type":"websocket in","z":"6f21eb51.d59a04","name":"","server":"3ba0956.731b0ea","client":"","x":1647.6935272216797,"y":395.699914932251,"wires":[["f02e9cfe.2dafe","72e8e8a4.141f18"]]},{"id":"e4ea3fa.d7112c","type":"file in","z":"6f21eb51.d59a04","name":"Read a File","filename":"C:\\Users\\Ola\\Desktop\\Thesis\\DatasetAndQueries-master\\oneHourFile.csv","format":"utf8","x":338.90003967285156,"y":147.00009441375732,"wires":[["e12d1d5d.856cd"]]},{"id":"51eecce8.f7ed74","type":"inject","z":"6f21eb51.d59a04","name":"Start Streaming Query","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147.99994659423828,"y":403.0000228881836,"wires":[["4f38a2a0.052944"]]},{"id":"46db5b55.d35a54","type":"debug","z":"6f21eb51.d59a04","name":"display Get Request","active":true,"console":"false","complete":"payload","x":529.4060096740723,"y":445.4686589241028,"wires":[]},{"id":"72e8e8a4.141f18","type":"debug","z":"6f21eb51.d59a04","name":"testFunctionOutput","active":true,"console":"false","complete":"payload","x":1612.693344116211,"y":843.4688835144043,"wires":[]},{"id":"593aa60c.6afac8","type":"inject","z":"6f21eb51.d59a04","name":"Insert Records","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128.8999481201172,"y":165.20013427734375,"wires":[["e4ea3fa.d7112c","89001073.1a84e"]]},{"id":"3ee0b5bd.8746fa","type":"websocket in","z":"6f21eb51.d59a04","name":"observations In","server":"b62d8943.0d729","client":"","x":813.9060134887695,"y":799.881196975708,"wires":[["dfee3aba.fa8cd8"]]},{"id":"dfee3aba.fa8cd8","type":"websocket out","z":"6f21eb51.d59a04","name":"observations Out","server":"b62d8943.0d729","client":"","x":1132.9058685302734,"y":827.187647819519,"wires":[]},{"id":"ff096d.7934a69","type":"websocket in","z":"6f21eb51.d59a04","name":"sql In","server":"a8ee3c43.e4a788","client":"","x":166.8998794555664,"y":800.8812313079834,"wires":[["c029beb9.21d3d","a6585854.7854f8"]]},{"id":"c029beb9.21d3d","type":"websocket out","z":"6f21eb51.d59a04","name":"sql Out","server":"a8ee3c43.e4a788","client":"","x":413.91236114501953,"y":813.1999568939209,"wires":[]},{"id":"89001073.1a84e","type":"function","z":"6f21eb51.d59a04","name":"Set global sqlString","func":"context.global.sqlString=null;\nreturn msg;","outputs":1,"noerr":0,"x":145.91239166259766,"y":222.93747520446777,"wires":[["6acb6344.c5c404"]]},{"id":"6acb6344.c5c404","type":"debug","z":"6f21eb51.d59a04","name":"b","active":true,"console":"false","complete":"payload","x":297.9123764038086,"y":248.6437473297119,"wires":[]},{"id":"fb4f82a0.792ad","type":"sqlitedb","z":"6f21eb51.d59a04","db":"sqliteDB"},{"id":"3ba0956.731b0ea","type":"websocket-listener","z":"","path":"test3","wholemsg":"false"},{"id":"b62d8943.0d729","type":"websocket-listener","z":"","path":"test2","wholemsg":"false"},{"id":"a8ee3c43.e4a788","type":"websocket-listener","z":"","path":"svc/v1/contracts/print","wholemsg":"false"}]